@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,700,700i&display=swap');

:root {
	--primary-color: rgb(52, 198, 211);
	--primary-color-light: rgba(52, 198, 211, 0.4);
	--secondary-color: #41464b;
	--accent-color: #64707b;
}

html,
body {
	height: 100%;
}

body {
	position: relative;
}

h3 {
	text-transform: uppercase;
	color: var(--secondary-color);
}

p {
	color: var(--accent-color);
	font-size: 16px;
	font-weight: 300;
}

body {
	font-family: 'Raleway';
}

/* General*/
/* [data-aos] {
	visibility: hidden;
}
[data-aos].animated {
	visibility: visible;
} */

.carousel-indicators li {
	background-color: var(--primary-color-light);
}

.carousel-indicators li.active {
	background-color: var(--primary-color);
}

.tns-nav {
	text-align: center;
	margin: 0;
}
.tns-nav > [aria-controls] {
	width: 9px;
	height: 9px;
	padding: 0;
	margin: 0 5px;
	border-radius: 50%;
	background: var(--primary-color-light);
	border: 0;
}
.tns-nav > .tns-nav-active {
	background: var(--primary-color);
}

.bg-parallax {
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
	background-attachment: fixed !important;
}

.btn-general {
	border-color: #fff;
	border-width: 2px;
	border-radius: 0;
	padding: 12px 26px;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

.btn-white {
	border-color: #fff;
	color: #fff;
}

.btn-white:hover,
.btn-white:focus {
	background-color: #fff;
	color: var(--secondary-color);
}

.btn-blue {
	border-color: var(--primary-color);
	color: var(--primary-color);
}

.btn-blue:hover,
.btn-blue:focus {
	background-color: var(--primary-color);
	color: #fff;
}

/* Animate */
#home-cover {
	animation-delay: 0.1s;
	animation-duration: 0.5s;
}

#home-heading {
	animation-delay: 0.5s;
	animation-duration: 0.5s;
}

#home-btn {
	animation-delay: 1s;
	animation-duration: 0.5s;
}

/* Home */
#home {
	height: 100%;
}

#home-cover {
	height: 100%;
	background-image: url('../assets/bg-home.jpg');
}

#home-content-box {
	width: 100%;
	height: 100%;
	display: table;
}

#home-content-box-inner {
	display: table-cell;
	vertical-align: middle;
}

#home-heading h3 {
	color: #fff;
	font-size: 55px;
	font-weight: 700;
	margin: 20px 0;
}

/* Content Box */
.content-box {
	padding: 60px 0;
}

.content-title h3 {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	margin: 0 0 30px 0;
}

.content-title-white h3 {
	color: white;
}

.content-title-underline {
	height: 3px;
	width: 30px;
	background-color: var(--primary-color);
	margin: 0 auto;
	margin-bottom: 30px;
}

/* Service */
.service-item {
	padding: 20px 0;
	margin-bottom: 20px;
	cursor: pointer;
}

.service-item-icon {
	color: var(--primary-color);
	float: left;
	padding: 14px;
	margin-right: 25px;
	width: 75px;
	height: 70px;
	text-align: center;
	font-size: 2em;
}

.service-item:hover .service-item-icon {
	background-color: var(--primary-color);
	color: #fff;
}

.service-item-title h3 {
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 10px 0;
}

.service-item-description {
	margin: 0;
	padding-left: 85px;
}

/* About */

#about-content-box {
	float: left;
	height: 700px;
}

#about-content-box-outer {
	width: 100%;
	height: 100%;
	display: table;
}

#about-content-box-inner {
	display: table-cell;
	vertical-align: middle;
}

#about .content-title h3 {
	text-align: left;
}

#about .content-title .content-title-underline {
	margin: 0 0 30px 0;
}

#about-description p {
	margin-bottom: 30px;
}

#about-bg-diagonal {
	background: url('../assets/bg-about.jpg');
	height: 700px;
	width: 60%;
	float: right;
	border-left: 200px solid #fff;
	border-top: 700px solid transparent;
}

/* Work */

.row.no-gutters [class*='col-'] {
	padding-left: 0;
	padding-right: 0;
}

.img-wrapper {
	overflow: hidden;
}

.img-wrapper img {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.img-wrapper img:hover {
	transform: scale(1.5);
	transition: transform 0.5s ease;
}

.carousel-inner .carousel-caption {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
}

.carousel-inner .carousel-caption p {
	color: lightgray;
	margin-bottom: 2rem;
}

/* Team */

.team-member {
	margin: 0 15px;
	max-width: 380px;
}

.team-member > img {
	width: 100%;
}

.team-member-info {
	padding: 10px 0 30px 0;
}

h4.team-member-name {
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	padding-top: 2px;
}

h4.team-member-designation {
	color: var(--primary-color);
	font-size: 15px;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 1px;
	padding-top: 5px;
}

.social-list {
	padding-left: 0;
}

.social-list li {
	list-style: none;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 6px;
	margin-top: 10px;
}

.social-icon {
	color: var(--accent-color);
}
.icon-white i {
	color: #fff;
}

.social-icon:hover i {
	color: var(--primary-color);
}

.owl-dot > span {
	background: var(--primary-color-light) !important;
}

.owl-dot.active > span {
	background: var(--primary-color) !important;
}

/* Testimonials */

#testimonials-cover {
	background-image: url('../assets/bg-testimonials.jpg');
}

#testimonials-cover .content-box {
	background-color: rgba(0, 0, 0, 0.1);
}

#customers-testimonials {
	padding: 50px 0;
}

.testimonial img {
	max-width: 120px;
	margin: 0 auto;
}

.testimonial blockquote {
	border: 0;
	font-family: Georgia, sans-serif;
	font-style: italic;
	color: #fff;
	padding: 6px 150px;
	position: relative;
}

.testimonial blockquote p {
	color: #fff;
}

.testimonial blockquote::before {
	content: '\201C';
	top: 0;
	left: 100px;
}

.testimonial blockquote::after {
	content: '\201D';
	bottom: 0;
	right: 100px;
}

.testimonial blockquote::before,
.testimonial blockquote::after {
	font-size: 80px;
	font-style: normal;
	line-height: 1;
	width: 30px;
	height: 30px;
	position: absolute;
}

.testimonial-author p {
	color: #fff;
	font-size: 17px;
}

.testimonial-author p strong {
	font-weight: 700;
	display: block;
}

/* Pricing */
.pricing-box {
	border: 3px solid var(--primary-color);
	padding: 50px 0;
	margin: 40px 0;
}

h4.pricing-title {
	background: var(--primary-color);
	color: #fff;
	display: inline-block;
	padding: 7px 15px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 30px;
}

h3.pricing-value {
	font-size: 60px;
	font-weight: 700;
}

h3.pricing-value sup {
	font-size: 20px;
	font-weight: normal;
	vertical-align: super;
}

ul.pricing-spec {
	list-style: none;
	padding-left: 0;
	margin: 20px 0 60px 0;
}

ul.pricing-spec li p {
	font-weight: 400;
	text-transform: uppercase;
}

.pricing-box-lg {
	padding: 90px 0;
	margin: 0;
	background-color: var(--primary-color);
}

.pricing-box-lg h4.pricing-title {
	color: var(--primary-color);
	background-color: #fff;
}

.pricing-box-lg ul.pricing-spec li p {
	color: #fff;
}

/* Stats */

#stats-cover {
	background-image: url('../assets/bg-stats.jpg');
}

#stats .content-box {
	background-color: rgba(0, 0, 0, 0.8);
}

.stats-item {
	padding: 100px 0;
}

.stats-item i {
	color: var(--primary-color);
}

.stats-item h2 {
	color: #fff;
	font-size: 35px;
	font-weight: 700;
	margin-top: 35px;
	margin-bottom: 15px;
}

.stats-item p {
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 0;
}

/* Clients */

.client {
	padding: 40px 0;
}

/* Contact */

footer {
	background-color: var(--secondary-color);
	padding-top: 30px;
	border-top: 5px solid rgba(0, 0, 0, 0.1);
}

#contact-left h3,
#contact-right h3 {
	color: #fff;
	font-size: 27px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 10px;
}

#contact-left p {
	color: #fff;
	margin-bottom: 30px;
}

#contact-info {
	background-image: url('../assets/world-map.png');
	background-repeat: no-repeat;
	background-size: contain;
}

address {
	color: #fff;
}

.phone-fax-email strong {
	font-weight: 700;
}

address strong,
#phone-fax-email strong {
	letter-spacing: 1px;
}

form .form-control {
	background: transparent;
	border-radius: 0;
	border-color: #fff;
	font-size: 17px;
	font-weight: 300;
	padding: 8px 16px;
	margin-bottom: 20px;
	color: #fff;
}

form .form-control:focus {
	background: transparent;
	color: #fff;
}

/* Footer */
#footer-bottom {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 30px 0;
	margin-top: 60px;
}

#footer-copyrights p {
	margin: 0;
	color: #fff;
	font-size: 13px;
}

#footer-menu {
	float: left;
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
}

#footer-menu ul {
	list-style: none;
	padding-left: 0px;
	margin: 0;
}

#footer-menu ul li {
	display: inline-block;
}

#footer-menu a {
	color: #ffffff;
	font-size: 13px;
	font-weight: 300;
	margin: 0 10px;
	text-decoration: none;
}

#footer-menu a:hover {
	color: var(--primary-color);
}

/* Navigation */
.navbar {
	padding: 20px 85px;
	transition: all 0.5s ease-in-out;
}

.vesco-top-nav {
	background: rgba(0, 0, 0, 0.7) !important;
	padding: 7px 85px;
}

.navbar-dark .navbar-nav .nav-link {
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
	background: none;
	color: var(--primary-color);
}

.navbar-dark .navbar-toggler {
	color: white;
	border-color: white;
}

.navbar-dark .navbar-nav .nav-link.active {
	color: var(--primary-color);
}
